head
  style(type="text/css")
    include ../public/stylesheets/index.css
  link(href="https://fonts.googleapis.com/css?family=Open+Sans|Sunflower:300" rel="stylesheet")
body
  include _list
  div.page-title.center-contents
    h1 THE TOP 8
  div.lists-grid
    each list in lists
      +heroList(list.role, list.heroes)

script
  include ../public/js/index.js
